<web-app>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
</web-app>
